html {font-size: 10px;}

body {
  background: #000000;
  font-family: -apple-system,  'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}

h1 {
  color: #000000;
  font-size: 4rem;
  margin-bottom: 0;
}

h2 {
  background: #000000;
  color: #FFFAF0;
  font-size: 2rem;
}

a {
  font-style: italic;
  color: #A9A9A9;
}

#main {
  color: #000000;
  margin: 30px 8px;
  padding: 30px;
  border-radius: 15px;
  background: #eee;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 10px auto;
  text-align: left;
  line-height: 2;
}

li {
  margin: 40px 0;
}

blockquote {
  font-style: italic;
  color: #000000;
  max-width: 800px;
  margin: 0 auto 50px auto;
  text-align: centre;
}